@import "tailwindcss";

@theme {
  --font-display: "Cormorant Garamond", serif;
  --font-mono-dr: "DM Mono", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}